.player {
  // HSL args
  //--playchi-primary-hsl-hue: #{hue($brand-color)};
  --playchi-primary-hsl-hue: 214deg;
  --playchi-secondary-hsl-hue: 40deg;
  --playchi-success-hsl-hue: 135deg;
  --playchi-danger-hsl-hue: 354deg;
  --playchi-warning-hsl-hue: 21deg;

  --playchi-primary-hsl-saturation: 100%;
  --playchi-secondary-hsl-saturation: 100%;
  --playchi-success-hsl-saturation: 57%;
  --playchi-danger-hsl-saturation: 76%;
  --playchi-warning-hsl-saturation: 81%;

  --playchi-primary-hsl-lightness: 49%;
  --playchi-secondary-hsl-lightness: 50%;
  --playchi-success-hsl-lightness: 30%;
  --playchi-danger-hsl-lightness: 51%;
  --playchi-warning-hsl-lightness: 53%;

  // Accent Colors
  --playchi-primary-color: hsl(var(--playchi-primary-hsl-hue) var(--playchi-primary-hsl-saturation) var(--playchi-primary-hsl-lightness));
  --playchi-primary-darker-color: hsl(
    var(--playchi-primary-hsl-hue) var(--playchi-primary-hsl-saturation) calc(var(--playchi-primary-hsl-lightness) - 15%)
  );
  --playchi-primary-brighter-color: hsl(
    var(--playchi-primary-hsl-hue) var(--playchi-primary-hsl-saturation) calc(var(--playchi-primary-hsl-lightness) + 15%)
  );
  --playchi-primary-text-contrast-color: #ffffff;

  --playchi-secondary-color: hsl(var(--playchi-secondary-hsl-hue) var(--playchi-secondary-hsl-saturation) var(--playchi-secondary-hsl-lightness));
  --playchi-secondary-darker-color: hsl(
    var(--playchi-secondary-hsl-hue) var(--playchi-secondary-hsl-saturation) calc(var(--playchi-secondary-hsl-lightness) - 15%)
  );
  --playchi-secondary-brighter-color: hsl(
    var(--playchi-secondary-hsl-hue) var(--playchi-secondary-hsl-saturation) calc(var(--playchi-secondary-hsl-lightness) + 15%)
  );
  --playchi-secondary-text-contrast-color: #ffffff;

  // Acknowledgement Colors
  --playchi-success-color: hsl(var(--playchi-success-hsl-hue) var(--playchi-success-hsl-saturation) var(--playchi-success-hsl-lightness));
  --playchi-success-darker-color: hsl(
    var(--playchi-success-hsl-hue) var(--playchi-success-hsl-saturation) calc(var(--playchi-success-hsl-lightness) - 15%)
  );
  --playchi-success-brighter-color: hsl(
    var(--playchi-success-hsl-hue) var(--playchi-success-hsl-saturation) calc(var(--playchi-success-hsl-lightness) + 15%)
  );
  --playchi-success-text-contrast-color: #ffffff;

  --playchi-danger-color: hsl(var(--playchi-danger-hsl-hue) var(--playchi-danger-hsl-saturation) var(--playchi-danger-hsl-lightness));
  --playchi-danger-darker-color: hsl(
    var(--playchi-danger-hsl-hue) var(--playchi-danger-hsl-saturation) calc(var(--playchi-danger-hsl-lightness) - 15%)
  );
  --playchi-danger-brighter-color: hsl(
    var(--playchi-danger-hsl-hue) var(--playchi-danger-hsl-saturation) calc(var(--playchi-danger-hsl-lightness) + 15%)
  );
  --playchi-danger-text-contrast-color: #ffffff;

  --playchi-warning-color: hsl(var(--playchi-warning-hsl-hue) var(--playchi-warning-hsl-saturation) var(--playchi-warning-hsl-lightness));
  --playchi-warning-darker-color: hsl(
    var(--playchi-warning-hsl-hue) var(--playchi-warning-hsl-saturation) calc(var(--playchi-warning-hsl-lightness) - 15%)
  );
  --playchi-warning-brighter-color: hsl(
    var(--playchi-warning-hsl-hue) var(--playchi-warning-hsl-saturation) calc(var(--playchi-warning-hsl-lightness) + 15%)
  );
  --playchi-warning-text-contrast-color: #ffffff;

  // Tone Ramp
  --playchi-tone-1-color: #ffffff;
  --playchi-tone-2-color: #cccccc;
  --playchi-tone-3-color: #999999;
  --playchi-tone-4-color: #666666;
  --playchi-tone-5-color: #525252;
  --playchi-tone-6-color: #383838;
  --playchi-tone-7-color: #212121;
  --playchi-tone-8-color: #000000;

  --playchi-live-color: #e12437;
  --playchi-player-background-color: #000000;
  --playchi-tab-focus-color: var(--playchi-primary-color);
  --playchi-tooltip-background-color: var(--playchi-tone-1-color);
  --playchi-tooltip-color: var(--playchi-tone-7-color);
  --playchi-ads-color: var(--playchi-secondary-color);

  --playchi-background-color: #121212;
  --playchi-elevated-color: #333333;
  --playchi-paper-color: #242424;
  --playchi-protection-color: #222222;
}
