// Sass variables exported using the npm package for plugins usage

// Accent Colors
$primary-color: var(--playchi-primary-color);
$primary-darker-color: var(--playchi-primary-darker-color);
$primary-brighter-color: var(--playchi-primary-brighter-color);
$primary-text-contrast-color: var(--playchi-primary-text-contrast-color);

$secondary-color: var(--playchi-secondary-color);
$secondary-darker-color: var(--playchi-secondary-darker-color);
$secondary-brighter-color: var(--playchi-secondary-brighter-color);
$secondary-text-contrast-color: var(--playchi-secondary-text-contrast-color);

// Acknowledgement Colors
$success-color: var(--playchi-success-color);
$success-darker-color: var(--playchi-success-darker-color);
$success-brighter-color: var(--playchi-success-brighter-color);
$success-text-contrast-color: var(--playchi-success-text-contrast-color);

$danger-color: var(--playchi-danger-color);
$danger-darker-color: var(--playchi-danger-darker-color);
$danger-brighter-color: var(--playchi-danger-brighter-color);
$danger-text-contrast-color: var(--playchi-danger-text-contrast-color);

$warning-color: var(--playchi-warning-color);
$warning-darker-color: var(--playchi-warning-darker-color);
$warning-brighter-color: var(--playchi-warning-brighter-color);
$warning-text-contrast-color: var(--playchi-warning-text-contrast-color);

// Tone Ramp
$tone-1-color: var(--playchi-tone-1-color);
$tone-2-color: var(--playchi-tone-2-color);
$tone-3-color: var(--playchi-tone-3-color);
$tone-4-color: var(--playchi-tone-4-color);
$tone-5-color: var(--playchi-tone-5-color);
$tone-6-color: var(--playchi-tone-6-color);
$tone-7-color: var(--playchi-tone-7-color);
$tone-8-color: var(--playchi-tone-8-color);

$live-color: var(--playchi-live-color);
$player-background-color: var(--playchi-player-background-color);
$tab-focus-color: var(--playchi-tab-focus-color);
$tooltip-background-color: var(--playchi-tooltip-background-color);
$tooltip-color: var(--playchi-tooltip-color);
$ads-color: var(--playchi-ads-color);
$playchi-background-color: var(--playchi-background-color);
$elevated-color: var(--playchi-elevated-color);
$paper-color: var(--playchi-paper-color);
$protection-color: var(--playchi-protection-color);
